@import 'reset.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/*Styles*/

:root {
  --header-height: 2.5rem;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #151515;
}

/*Header Stuff*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--header-height);
  background-color: #e84545;
  color: white;
  font-size: 1.5rem;

  padding: 0 42px;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: default;
  user-select: none;

  width: calc(305px - 42px);
}

.header-right button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-header {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: none;
  outline: none;

  padding: 0 0.3rem;
  border-radius: 5px;
}

.btn-header:hover {
  background-color: #ed6a6a;
  cursor: pointer;
}

.btn-header.inactive:hover {
  background-color: unset;
  cursor: none;
}

.btn-close {
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  top: 2.3rem;

  color: white;
  background-color: #151515;
  opacity: 60%;
  width: 80px;
  padding: 5px 1px;
  border-radius: 2px;

  transition: all 0.05s linear;
  z-index: 2;
}

.tooltip:hover > .tooltip-text {
  visibility: visible;
}

.tooltip:hover > .tooltip-text.inactive {
  visibility: hidden;
}

.header-icon-menu {
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(262deg) brightness(106%)
    contrast(101%);
}

.header-icon-logo {
  width: 32px;
  height: 32px;
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(262deg) brightness(106%)
    contrast(101%);
}

.header-icon-plus {
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(262deg) brightness(106%)
    contrast(101%);
}

/*Main*/
.main-container {
  display: flex;
  height: calc(100% - var(--header-height));
}

.main-container > .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 305px;
  height: 100%;

  padding-left: 42px;
  padding-top: 2.3rem;
  padding-right: 7px;

  background-color: #f5f5f5;
}

.menu-projects {
  display: flex;
  align-items: center;

  width: 100%;
  padding-top: 2.3rem;
  padding-left: 4.8px;
}

.menu-projects > .icon {
  height: 24px;
  width: 24px;

  transform: rotate(-90deg);
}

.menu-projects:hover {
  cursor: pointer;
  user-select: none;
}

.menu-projects:active > .icon {
  transform: rotate(0);
}

.menu > ul {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.menu > ul > li {
  display: flex;
  align-items: center;

  width: 100%;
  height: 2rem;

  padding-top: 7px;
  border-radius: 3px;

  transition: all 0.1s ease-in;

  user-select: none;
  cursor: pointer;
}

.menu-icon {
  padding: 0 4.8px;
}

.menu .icon-inbox {
  filter: invert(81%) sepia(43%) saturate(513%) hue-rotate(155deg)
    brightness(89%) contrast(86%);
}

.menu .icon-calendar-number {
  filter: invert(85%) sepia(8%) saturate(2419%) hue-rotate(46deg)
    brightness(99%) contrast(84%);
}
.menu .icon-calendar {
  filter: invert(25%) sepia(8%) saturate(3867%) hue-rotate(278deg)
    brightness(94%) contrast(84%);
}

.menu > ul > li:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.main-container > .content {
  height: 100%;
}

/*Content*/

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 305px);

  padding: 0 60px;

  overflow: auto;
}

.folder-name {
  position: sticky;
  top: 0;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  height: 68.8px;
  width: 100%;

  font-size: 1.5rem;
  font-weight: bold;

  border-bottom: 1px solid #e6e6e6;
  background-color: white;

  z-index: 1;
}

.folder-content {
  height: calc(100% - 68.8px);
}

/*Prompts*/
.mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;

  background-color: rgb(0, 0, 0, 0.4);
  z-index: 2;
}

.prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;
}

.mask.inactive {
  visibility: hidden;
}

.btn-add.inactive {
  opacity: 40%;
}

.card.inactive {
  visibility: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  padding: 5px 25px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
  font-weight: bold;

  height: 50px;
}

.card-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
}

.card-bottom {
  display: flex;
  align-items: center;
  height: 50px;
}

.icon-close {
  width: 28px;
  height: 28px;
  transform: rotate(45deg);
  filter: invert(54%) sepia(10%) saturate(11%) hue-rotate(333deg)
    brightness(90%) contrast(86%);

  user-select: none;
}

.icon-close:hover {
  filter: invert(2%) sepia(25%) saturate(339%) hue-rotate(314deg)
    brightness(102%) contrast(84%);
}

.card.add-task {
  height: 200px;
  width: 500px;

  background-color: white;
}

#new-task {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 13px 12px;

  border: 1px solid #b8b8b8;
  border-radius: 5px;

  font-family: 'Roboto', sans-serif;
}

#new-task:focus {
  border: 1px grey solid;
  outline: none;
}

button.add-task {
  background-color: #e84545;
  color: white;

  font-weight: bold;

  outline: none;
  border: none;
  border-radius: 2px;

  padding: 5px 10px;
}

button.add-task.inactive {
  background-color: #ed6a6a;
}

#date-picker {
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.priority-picker-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 60px;

  width: 24px;
  height: 24px;

  border-radius: 5px;

  cursor: pointer;
}

.priority-icon {
  height: 24px;
  width: 24px;
  background-image: url(../img/tabler-icon-flag-2.svg);
  filter: invert(54%) sepia(10%) saturate(11%) hue-rotate(333deg)
    brightness(90%) contrast(86%);

  border-radius: 5px;
}

.priority-icon:hover {
  filter: invert(2%) sepia(25%) saturate(339%) hue-rotate(314deg)
    brightness(102%) contrast(84%);
  background-color: rgb(0, 0, 0, 0.1);
}

#priority-display:checked + label .priority-icon {
  filter: invert(2%) sepia(25%) saturate(339%) hue-rotate(314deg)
    brightness(102%) contrast(84%);
  background-color: rgb(0, 0, 0, 0.1);
}

#priority-display:checked + label .priority-picker {
  display: block;
}

.priority-picker {
  position: absolute;
  bottom: -120px;

  display: flex;
  flex-direction: column;

  font-size: 0.9rem;

  border: 1px solid #b8b8b8;
  padding: 0 0;

  background-color: white;
  width: 150px;
  height: 120px;
}

.priority-picker ul {
  height: 100%;
}

.priority-picker li {
  display: flex;
  align-items: center;
  height: 25%;
  padding: 0 5px;
}

.priority-picker label {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.priority-picker li:nth-child(1) {
  border-radius: 5px 5px 0 0;
}

.priority-picker li:nth-last-child(1) {
  border-radius: 0 0 5px 5px;
}

.priority-picker li:hover {
  background-color: #b8b8b8;
}

.priority-picker .check-icon {
  display: none;
}

.priority-picker input:checked ~ .check-icon {
  display: block;
}

.priority-picker-icon {
  height: 24px;
  width: 24px;
  background-image: url(../img/tabler-icon-flag-2.svg);
  filter: invert(54%) sepia(10%) saturate(11%) hue-rotate(333deg)
    brightness(90%) contrast(86%);
}

.priority-picker .check-icon {
  margin-left: auto;
}

.check-icon {
  height: 24px;
  width: 24px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/tabler-icon-check.svg);
  filter: invert(36%) sepia(51%) saturate(2995%) hue-rotate(338deg)
    brightness(97%) contrast(88%);
}

.todos {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 20px;
}

.todos > li {
  display: flex;
  align-items: center;

  width: 100%;
  height: 55px;

  padding: 8px 0;
  border-radius: 3px;
  border-bottom: 1px solid #e6e6e6;

  transition: all 0.1s ease-in;

  user-select: none;
}

.todos > li:hover {
  cursor: pointer;
}

.circle-check {
  height: 24px;
  width: 24px;
  background-image: url(../img/circle/tabler-icon-circle.svg);

  cursor: pointer;
}

.circle-check:hover {
  background-image: url(../img/circle/tabler-icon-circle-check.svg);
}

.todo-checkbox {
  display: none;
}

.todo-checkbox:checked + label > .circle-check {
  background-image: url(../img/circle/tabler-icon-circle-check.svg);
}

/*Levels of priority for todos*/
.p1 {
  filter: invert(54%) sepia(10%) saturate(11%) hue-rotate(333deg)
    brightness(90%) contrast(86%);
}

.p2 {
  filter: invert(81%) sepia(43%) saturate(513%) hue-rotate(155deg)
    brightness(89%) contrast(86%);
}

.p3 {
  filter: invert(78%) sepia(62%) saturate(1217%) hue-rotate(329deg)
    brightness(101%) contrast(102%);
}

.p4 {
  /*Most important*/
  filter: invert(50%) sepia(65%) saturate(5038%) hue-rotate(334deg)
    brightness(92%) contrast(94%);
}

.edit-btn {
  height: 24px;
  width: 24px;

  background-image: url(../img/tabler-icon-pencil.svg);
  background-repeat: none;
  background-position: center;
  background-size: 24px;
}

.edit-stuff {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.d-none {
  display: none;
}

.vis-hidden {
  visibility: hidden;
}

.zero-space {
  height: 0;
  width: 0;
}
