@import 'reset.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/*Styles*/

body {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 2.5rem;
    background-color: #e84545;
    color: white;
    font-size: 1.5rem;
}

.header-main {
    display: flex;
    align-items: center;

    padding-left: 1.7rem;

    cursor: default;
    user-select: none;
}

.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: none;
    outline: none;

    padding: 0 0.3rem;
    border-radius: 5px;
}

.btn-menu:hover {
    background-color: #ed6a6a;
}

.tooltip {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    top: 2.3rem;

    color: white;
    background-color: #151515;
    opacity: 60%;
    width: 80px;
    padding: 5px 1px;
    border-radius: 2px;

    transition: all 0.05s linear;
}

.tooltip:hover > .tooltip-text {
    visibility: visible;
}

.header-icon-menu {
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(262deg)
        brightness(106%) contrast(101%);

    cursor: pointer;
}

.header-icon-logo {
    width: 32px;
    height: 32px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(262deg)
        brightness(106%) contrast(101%);
}
